.gray-background{
  background: darkgray;
  
}

.img{
  position: relative;
  background-image: url(http://www.isquare-hotel.com/isquare/_upload/resv/14241406581629.jpg);                                                               
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);                                                                 
   z-index:1;
}

.img .content{
   position: absolute;
   top:80%;
   left:34%;
   transform: translate(-50%, -50%);                                                                   
   font-size:5rem;
   color: white;
   z-index: 2;
   text-align: left;
}
.fac {
  background-image: url(https://source.unsplash.com/jW7zki2f3qc);
  position: relative;
  background-size: 100%;
}

.tour {
  background-image: url(https://source.unsplash.com/RN6ts8IZ4_0);
  position: relative;
  background-size: 100%;
}

.room {
  background-image: url(https://www.philclick.com/datafile/boxeditor/2016/04/20160414122031.6430.8.4.jpg);
  position: relative;
  background-size: 100%;
}

.textColor {
  color: white;
}

.res {
  background-image: url(https://source.unsplash.com/boaDpmC-_Xo);
  background-size: 100%;
}

.textColor1 {
  color: white;
  background-color: #a4a4a4;
}